{{define "head"}}
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/mvp.css"> <!-- 이쁜 양식이 있음 header를 추가해야 작동함  -->
        <title> {{.}} | Dong Coin </title>
    </head>
{{end}}